* {
    --text-font: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightblue;
}

.user-interface {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: aquamarine;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-project {
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
.btn-add-project {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    border-style: none;
}

.project-btn {
    margin-bottom: 20px;
    width: 150px;
    height: 25px;
    font-size: var(--text-font);
    border-radius: 15px;
    border-style: none;
}

.content {
    width: calc(100% - 200px);
    background-color: burlywood;
}

.content-todos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.card {
    width: 250px;
    display: flex;
    gap: 15px;
    border: 1px solid black;
    cursor: pointer;
}

dialog {
    width: 400px;
}

form label {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
form input {
    margin-bottom: 10px;
}

input[type=text],
input[type=date],
input[type=number] {
    width: 150px;
}

input[type=submit] {
    display: block;
}

dialog > button {
    margin-top: 10px;
}

.input-project {
    border-radius: 15px;
    width: 150px;
}